

.weather_main {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__temperature {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 65%;
    font-size: 1em;
  
  
    &__mmm {
      display: flex;
      justify-content: space-around;
      align-items: center;
  
      &__item {
        display: flex;
        flex-direction: column;
        justify-items: center;
      }
    }

    &__middle {
      font-size: 4em;
    }
  }

  &__picture_weather {
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 35%;
  }

  &__name_station {
    display: inline-block;
    padding: 10px;
    font-size: 0.8em;
    margin: 10px;
    width: 100%;
    background-color: rgba(0, 128, 0, 0.238);
    text-align: center;
  }

  .day_and_evening {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  
}


.day {
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: scroll;
  position: relative;
  top: 30px;
  padding-top: 180px;
  margin-bottom: 50px;
  &__item {
    min-width: 150px;
  }
}