.oneSlide{
  width: calc(100vw - 48px);
  margin-top: 24px;
  margin-left: 24px;
  margin-right: 24px;
  
  display: flex;
  flex-direction: row; 
}

.visibility{
  margin-left: 24px;
  margin-right: 24px;
}