
.navTabs {
  margin-top: 20px;

  display: flex;
  justify-content: space-between;  

  .tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 0 10px;
    width: 33.3%;
    text-decoration-line: none;
    white-space: nowrap;
    color: #ffffff;
    text-align: center;
  }

  .flag{
    position: absolute;
    width: 75px;
    height: 6px;
    left: 150px;
    bottom: 0px;

    background: #FFFFFF;
    border-radius: 10px 10px 0px 0px;

    // transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) .2s;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .2s;
  }  
  
}
