* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

body{
  padding: 0;
  margin: 0;
  font-family: Inter;
  color: #FFFFFF;
}

/*
Thin 100
ExtraLight 200
Light 300
Regular 400
Medium 500
SemiBold 600
Bold 700
ExtraBold 800
Black 900
*/

@font-face {
  font-family: Inter;
  src: url(/src/styles/fonts/Inter/static/Inter-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}