.searchCity {  
  margin: 0 3.5%;
  position: relative;

  .input {
    padding: 0 16px 0 61px;
    
    width: 100%;
    height: 60px;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;

    // background: url(/assets/search.svg) no-repeat;
    background-position: 13px 11px;
    outline: 0;
    
    border: 0px;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
  }

  .listCitys {
    position: absolute;
    top: 0px;
  }
  
}