.navigation {
  padding: 16px 0 0 0;
  // margin: 0 16px;
  width: 100%;
  height: 136px;
  position: relative;

  background: linear-gradient(180deg, #608BAE 53.74%, rgba(96, 139, 174, 0.75) 100%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}