.temperature{
  
  .value{
    display: flex;
    flex-direction: column;
    align-items: center;  
    // width: 375px;

    font-weight: 400;
    font-size: 90px;
    line-height: 109px;
    letter-spacing: -0.2rem;
    color: #FFFFFF;

    text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25);
  }
}